<h1 class="mt-4">Choose a Topic</h1>
<a href="/story/create" class="btn btn-info mb-1">poo</a>
<a href="/story/create" class="btn btn-primary mb-1">pee</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
