<a href="/users/logout" class="btn btn-secondary mb-2">Logout</a>
<a href="/story/join" class="btn btn-info mb-1">Join Story</a>
<h1 class="mt-4">Choose a Topic</h1>

<html>
<script>
    function story_topics() {
        var myList = document.getElementById("myList");
        document.getElementById("topic").value = myList.options[myList.selectedIndex].text;
        var topic = document.getElementById("topic").value;
    }
    function custom_topic() {
        var choice = document.getElementById("choice");
        document.getElementById("topic").value = choice.value;
    }
    function get_topic() {
        var topic = document.getElementById("topic").toString();
    }
</script>

<body background="http://sfwallpaper.com/images/wallpaper-wood-hd-13.jpg">

<form>
    <p><font color="darkslategrey">Select your topic: </font>
        <select id="myList" onchange="story_topics()">
            <option>Adventure</option>
            <option>Scary Story</option>
            <option>Embarrassing Moment</option>
            <option>Thanos' Anus</option>
            <option>Poo</option>
        </select></p>

    <p><font color="darkslategrey">Custom: <input id="choice" type="text">
            <button onclick="custom_topic()" type="button">Select</button>

    <p><font color="darkslategrey">Your topic is: </font><input type="text" id="topic" size="20"></p>
    <button onclick="get_topic()" type="button">Create Room</button>
</form>

</body>
</html>