<h1 class="mt-4">Your Story Begins Here...</h1>
<p class="lead mb-3">Welcome <%= name%>!</p>
<a href="/story/create" class="btn btn-info mb-1">Create Story</a>
<a href="/story/join" class="btn btn-primary mb-1">Join Story</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
