<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/story/create" class="btn btn-warning mb-1">Create Story</a>
<h1 class="mt-4">Choose a Room</h1>
<a href="/story/create" class="btn btn-info mb-1">A</a>
<a href="/story/create" class="btn btn-primary mb-1">B</a>

<html>
<body background="http://sfwallpaper.com/images/wallpaper-wood-hd-13.jpg">
</body>
</html>