<h1 class="mt-4">Choose a Room</h1>
<a href="/story/create" class="btn btn-info mb-1">A</a>
<a href="/story/create" class="btn btn-primary mb-1">B</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>