<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/story/create" class="btn btn-warning mb-1">Create Different Story</a>
<a href="/story/viewables" class="btn btn-info mb-1">Viewable Stories</a>
<h1 class="mt-4 mb-4">Topic: <%=topic%></h1>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

<html>
<script>
    function download_pdf() {
        var doc = new jsPDF();
        doc.text(20,20,document.getElementById("story").value);
        doc.save('your-story.pdf');
    }
    function publish_story() {

    }
</script>

<body background="http://sfwallpaper.com/images/wallpaper-wood-hd-13.jpg">

<form>
    <h1 class="lead mb-1">Write your story here: </h1>
    <p><textarea id="story" rows="15" cols="100"></textarea></p>

    <button onclick="download_pdf()" type="button">Download PDF</button>

    <button onclick="publish_story()" type="button">Publish</button>
</form>

</body>
</html>