<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/story/create" class="btn btn-warning mb-1">Create Another Story</a>
<a href="/story/viewables" class="btn btn-info mb-1">Viewable Stories</a>
<h1 class="mt-4">Yay! Story Submitted</h1>

<html>
<body background="http://sfwallpaper.com/images/wallpaper-wood-hd-13.jpg">
</body>
</html>
