<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/story/create" class="btn btn-warning mb-1">Create Story</a>

<h1 class="mt-4">Viewable Stories</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>View Story</th>
        <th>Download</th>
    </tr>
    <%for (var result in items){%>
        <tr>
          <td><%=items[result].title%></td>
          <td><%=items[result].name%></td>
          <td><button>View</button></td>
          <td><button>PDF</button></td>
        </tr>
    <%}%>
</table>


<html>
<body background="http://sfwallpaper.com/images/wallpaper-wood-hd-13.jpg">
</body>
</html>
